<c-card class="mb-4">
  <c-card-body>
    <!-- <c-row style="margin-bottom: 70px;" style="align-content: center;">
      <c-col sm="12">
        <h4 class="card-title mb-0" id="traffic" > Dashboard </h4><br><br><br><br>
      </c-col>
    </c-row> -->
    <!--     
    <c-card style="width: 18rem;">
      <svg aria-label="Placeholder" cCardImg="top" focusable="false" height="162" preserveAspectRatio="xMidYMid slice"
        role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title>
        <rect fill="#868e96" height="100%" width="100%"></rect>
      </svg>
      <c-card-body>
        <h5 cCardTitle cPlaceholderAnimation="glow">
          <span cCol="6" cPlaceholder></span>
        </h5>
        <p cCardText cPlaceholderAnimation="glow">
          <span cCol xs="7" cPlaceholder class="me-1"></span>
          <span cCol="4" cPlaceholder class="me-1"></span>
          <span cCol="4" cPlaceholder class="me-1"></span>
          <span cCol="6" cPlaceholder class="me-1"></span>
          <span cCol="8" cPlaceholder class="me-1"></span>
        </p>
        <p cPlaceholderAnimation="glow">
          <a cButton cCol="7" cPlaceholder color="primary" disabled routerLink="./"></a>
        </p>
      </c-card-body>
    </c-card> -->
    <c-row>
      <c-row style="padding-bottom: 50px;">

        <!-- <c-col  sm="3" style="align-content: center;">
          <h5 cCardTitle cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder></span>
          </h5>

          </c-col> -->


        <c-col sm="3" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Conso. essence ce mois(TND)</h4>
          <br>
          <p *ngIf="sumSpendingOfGasoilCurrentMonthData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart type="bar" [data]="sumSpendingOfGasoilCurrentMonthData"></c-chart>
        </c-col>
        <c-col sm="3" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Conso. liquide ce mois(TND)</h4>
          <br>
          <p *ngIf="sumSpendingOfLiquideCurrentMonthData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart type="bar" [data]="sumSpendingOfLiquideCurrentMonthData"></c-chart>
        </c-col>
        <c-col sm="3" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Conso. Masrouf ce mois(TND)</h4>
          <br>
          <p *ngIf="sumSpendingOfMasroufCurrentMonthData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart type="bar" [data]="sumSpendingOfMasroufCurrentMonthData"></c-chart>
        </c-col>
        <c-col sm="3" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Conso. Autres ce mois(TND)</h4>
          <br>
          <p *ngIf="sumSpendingOfOtherCurrentMonthData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart type="bar" [data]="sumSpendingOfOtherCurrentMonthData"></c-chart>
        </c-col>
      </c-row>
      <c-row style="padding-bottom: 50px;">
        <c-col sty sm="8" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Consommation totale par besoins
          </h4> <br>
          <p *ngIf="chartDoughnutData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart ng type="bar" [data]="chartDoughnutData"></c-chart>
        </c-col>
        <c-col sm="4" style="align-content: center;">
          <h4 style="align-content: center;" class="card-title mb-0" id="traffic" style="text-transform: uppercase;">
            Total versement par compte</h4><br>
            <p *ngIf="totalDepositeByAccountData == null" cCardText cPlaceholderAnimation="glow">
              <span cCol="8" cPlaceholder class="me-1"></span>
              <span cCol="8" cPlaceholder class="me-1"></span>
              <span cCol="8" cPlaceholder class="me-1"></span>
              <span cCol="8" cPlaceholder class="me-1"></span>
              <span cCol="8" cPlaceholder class="me-1"></span>
              <span cCol="8" cPlaceholder class="me-1"></span>
              <span cCol="8" cPlaceholder class="me-1"></span>
            </p>
          <c-chart type="pie" [data]="totalDepositeByAccountData"></c-chart>
        </c-col>
      </c-row>
      <c-row style="padding-bottom: 20px;">
        <c-col sm="8" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Total reste par compte</h4><br>
          <p *ngIf="totalResteByAccountData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart type="bar" [data]="totalResteByAccountData"></c-chart>
        </c-col>
        <c-col sm="4" style="align-content: center;">
          <h4 class="card-title mb-0" id="traffic" style="text-transform: uppercase;">Total consommation par compte</h4>
          <br>
          <p *ngIf="totalconsumedByAccountData == null" cCardText cPlaceholderAnimation="glow">
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
            <span cCol="8" cPlaceholder class="me-1"></span>
          </p>
          <c-chart type="doughnut" [data]="totalconsumedByAccountData"></c-chart>
        </c-col>
      </c-row>

    </c-row>

  </c-card-body>
  <!-- <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
      </c-col>
      <c-col class="mb-sm-2 mb-0">
      </c-col>
    </c-row>
  </c-card-footer> -->
</c-card>