<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
  size="lg"
>

<!-- // 04012024 SRA Put logo here. -->
  <!-- 
    <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/brand/coreui-angular.svg',
      width: 200,
      height: 46,
      alt: 'CoreUI Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/brand/coreui-signet-white.svg',
      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }"
    routerLink="./"
  /> -->
  <!-- <div  align="center" *ngIf="isLoading">
    <ejs-progressbar #circular3 id='circular4' [type]='type3'  [style.height.px]="75" [style.width.px]="75"
    [value]='value3'   [isIndeterminate]='isIndeterminate3'
    [animation]='animation' (load)='load($event)'>
    </ejs-progressbar>
</div>  -->

<ng-scrollbar pointerEventsMethod="scrollbar">
  <c-sidebar-nav
    [navItems]="navItems"
    dropdownMode="close"
  /> 
</ng-scrollbar>

  <!-- <ng-scrollbar pointerEventsMethod="scrollbar">
    <h5 *ngIf="this.isLoading" >Chargement des modules...</h5>
    <c-sidebar-nav
      [navItems]="navItemsByRight"
      dropdownMode="close"
    />
  </ng-scrollbar> -->


  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>


<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent login-bg">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <div class="bode">
      <router-outlet />
  </div>
  <!--app footer-->
  <app-default-footer />
</div>

